{% extends 'base.html.twig' %}

{% block title %}Film{% endblock %}



{% block nav %}
	<nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
     <a class="navbar-brand" href="{{ path('home_index') }}">Home</a>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav">
				<li class="nav-item  ">
					<a class="nav-link" href="{{ path('film_index') }}">
						film</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="{{ path('genre_index') }}">
						liste des genres</a>
				</li>
            </ul>
        </div>	
	</nav>
{% endblock %}

{% block body %}
 <a  class="btn btn-outline-primary" href="{{ path('film_add') }}">Ajouter un film</a>



    <p>Nombre de film : {{ films | length}} </p>
        <p class='mini'>incroyable du ...</p>





	<table class="table table-striped">
		<thead class="thead-light">
			<tr>
				<th>titre</th>
				<th>genre</th>
				<th>date de sortie</th>
                <th>duree</th>
				<th>synopsis</th>
				<th>Modifier</th>
				<th>SUPPRIMER</th>
			</tr>
		</thead>
		<tbody>
			{% for film in films %}
				<tr>
					<td>
						<a href=" {{ path('film_show', {id: film.id}) }}">{{ film.titre }}
						</a>
					</td>
					<td>{{  film.genre.nomGenre }}</td>
					<td>{{ film.dateSortie| date('d/m/Y')}}</td>
					<td>{{ film.DureeFormate}}</td>
					<td>{{ film.synopsis}}</td>

					<td>
						<a type="button" class="btn btn-warning" href="{{ path('film_edit', {'id':film.id}) }}">Modifier</a>
					</td>
					<td>

						<a type="button" class="btn btn-danger" href="{{ path('film_remove', {id: film.id}) }}">Supprimer</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
